<div class="cart-page">
        <h1>Shopping Cart:</h1>
        <hr>
     <div class="image-details">

        <% @order_images.each do |o|%>
        <div>
                <%= image_tag(o.image.url, :size => "300x400")%>
        </div>
        <div class="table-responsive">
             <table class="table">
                <tr>
                    <td><h6>Name: </h6></td>
                    <td><%= o.image.name%></td>
                </tr>
                <tr>
                    <td><h6>Description: </h6></td>
                    <td><%= o.image.description%></td>
                </tr>
                <tr>
                    <td><h6>Price: </h6></td>
                    <td>$<%= o.image.price%></td>
                </tr>
             </table>
                <%= link_to "Remove from cart", o ,method: :delete, class: "btn btn-danger"%>
                <%= link_to "Checkout", new_order_path, class: "btn btn-success" %><br><br>
                <%= link_to "Shop for more images", images_path, class: "btn btn-outline-primary"%>
        </div>
        <%end%>
     </div>
</div>