

<%= form_tag @users do %>
    <%= label_tag :username, "Username" %><br>
    <%= text_field_tag :username %><br><br>
    <%= label_tag :password, "Password" %><br>
    <%= password_field_tag :password %><br><br>
    <%= submit_tag "Login" %><br>
    <div class="loginform bringitdown">
<h6>Don't have an account?</h6>
<%= link_to "Sign Up", new_user_path %>
    <% end %>
