
<% if @error_message%>
<ul>
<li class="error"><%= @error_message%></li>
<%end%>
</ul>
  <div class="signupform">
  <div class="formbox">
    <%= form_for @user do |f| %>
    <h4 class="logintext">Create Your Account</h4>
        <%= f.label "Name:"%><br>
        <%= f.text_field :name, class:"login-box",placeholder:"Full Name"%>
        <br>
        <%= f.label "Username:"%><br>
        <%= f.text_field :username, class:"login-box",placeholder:"user@mail.com" %>
        <br>
        <%= f.label "Password:"%><br>
        <%= f.password_field :password, class:"login-box",placeholder:"Password"%>
        <br>
        <%= f.label "Confirm Password:"%><br>
        <%= f.password_field :password_confirmation, class:"login-box",placeholder:"Password Confirmation"%><br><br>
        <%= f.submit class:"login-button" %><br><br>
    <% end %>
</div>
</div>