
<div class="image-page">
    <div class="link-btn">
        <h2><%= @user.name %>'s images</h2>
        <%= link_to "My Account", edit_user_path(@user), class:"btn btn-info"%>
        <%= link_to "Upload", new_image_path, class:"btn btn-primary" %>
    </div>
    <div class="image-container">
        <% @user.images.each do |user|%>
        <!--<img src = <%= user.url %> width="300" height="300" >-->
        <div class="image">
        <%= link_to image_tag(user.url), user%>
        </div>
        <%end%>
        <hr>
    </div>
</div>


