    <% if flash[:errors] %>
        <ul>
            <% flash[:errors].each do |error| %>
            <li class="error"> <%= error %></li>
            <% end %>
        </ul>
    <% end %>
<div class="form-page">
    <div class="form-box">
        <h1>Upload New Image</h1>
            <%= form_for @image do |f| %>
            <%= f.label "name:" %>
            <%= f.text_field :name, class:"input-box" %><br><br>
            <%= f.label "description:" %>
            <%= f.text_area :description %><br><br>
            <%= f.label "price:" %>
            <%= f.text_field :price, class:"input-box" %><br><br>
            <%= f.label "url:" %>
            <%= f.text_field :url, class:"input-box" %><br><br>
            <%= f.submit "Submit", class:"btn btn-outline-success"%> 
    <% end %>
    </div>
</div>


  
  
  
  
